.list {
    width: 100%;
    
}

.sub__heading {
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
}

ul {
    border: 2px dotted #606C5D;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 250px;
    list-style-type: none;
    overflow-x: scroll;
   
}

ul li {

    display: flex;
    flex-direction: column;
    gap:10px;
}

ul::-webkit-scrollbar {
    display: none;
}